// Header
// ---------

.header {
	img {
		height: 72px;
	}
	background: $secondary-color;
	padding: 0 0 20px 0;

}

.sitename {
	padding-top: 24px;
}

.header .columns {
	padding-bottom: 0;
}

.header h4 {
	color: $color-grey-5;
}

.header .container {
	background: transparent;
	margin: 0px;
}

// Footer
// ---------

.footer .columns {
	padding-bottom: 0;
}

.footer .wrapper-inner {
	padding: 0 20px 20px 20px;
}

.footer .container {
	background: transparent;
	border-top: solid 1px $color-grey-4;
}

.footer p {
	padding-top: 8px;
}

// Subheading
// ---------

.subheading h4{
color: $color-grey-6;
margin-bottom: 0px;
}


// Typography
// ---------

hr {
	margin-bottom: 16px;
}

th {
  font-weight: bold;
  }

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: bold;
  }

// Similie email footer
.socialicons {
	height: 11px;
	display: inline-block;
  }